* {
  box-sizing: border-box;
  font-family: 'Alegreya', serif;
}
html {
  font-size: 16px;
  background: #fff;
}
h1 {
  line-height: 1em;
}
.container {
  max-width: 800px;
  margin: auto;
}
.container.half {
  max-width: 400px;
}
.text-center {
  text-align: center;
}
#currency-container {
  margin: 4rem 0;
  text-align: center;
}
.currency .currency-column {
  display: inline-block;
  width: calc(20% - 6px);
  margin: 0 3px;
  text-align: center;
}
.currency .currency-column:first-child,
.currency .currency-column:last-child {
  width: calc(20% - 3px);
}
.currency .currency-column:first-child {
  margin-left: 0;
}
.currency .currency-column:last-child {
  margin-right: 0;
}
.currency .currency-label {
  display: none;
}
@media (min-width: 700px) {
  .currency .currency-label {
    display: block;
  }
}
.currency .currency-input {
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}
.currency .currency-column--cp .currency-input {
  border-color: #d08e76;
}
.currency .currency-column--cp .currency-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #e8c6ba;
}
.currency .currency-column--sp .currency-input {
  border-color: #cacaca;
}
.currency .currency-column--sp .currency-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #e5e5e5;
}
.currency .currency-column--ep .currency-input {
  border-color: #c3d8d4;
}
.currency .currency-column--ep .currency-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #e1ecea;
}
.currency .currency-column--gp .currency-input {
  border-color: #ffd864;
}
.currency .currency-column--gp .currency-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffecb2;
}
.currency .currency-column--pp .currency-input {
  border-color: #b2beea;
}
.currency .currency-column--pp .currency-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #d9dff5;
}
.currency .currency-key {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.currency-results {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
}
.currency-output-dropdown {
  border: 1px solid #ccc;
  margin: 2rem 0;
  width: 100%;
  font-size: 1rem;
}
@media (min-width: 700px) {
  .currency-output-dropdown {
    width: auto;
  }
}
