body.background
  background-color #000

.background-generator
  background-image url(../img/background-background.jpg)
  background-color #000
  background-repeat no-repeat
  background-position 50% top
  color #fff
  padding 3rem 0
  +sm()
    padding-top 350px

  h1
    font-size 1.3rem
    text-shadow 0 0 0.7rem #000, 0 0 1.5rem #000, 0 0 1.5rem #000
    margin-top 0
    +sm()
      font-size 2rem

  h2
    font-family 'Alegreya SC', serif
    font-size 4rem
    line-height 4rem
    margin 0
    text-shadow 0 0 1.5rem #000, 0 0 2rem #000, 0 0 2rem #000
    +sm()
      font-size 6rem
      line-height 6rem

  .refresh-button
    background #d01e1e
    border 1px solid #ff4040
    box-shadow 0 0 40px 10px #000
    padding .5rem 1rem
    margin 3rem 0 0 0
    font-size 1.5rem
    color #fff
    font-weight bold
    border-radius .5rem
    cursor pointer

    &:hover
      background-color lighten(#d01e1e, 5%)

    &:focus
      background-color lighten(#d01e1e, 10%)
      border 1px solid lighten(#ff4040, 60%)
      outline 0

      &:active
        background-color darken(#d01e1e, 5%)

  .background-summary
    background-color rgba(0, 0, 0, 0.7)
    padding 3rem
    margin 1rem 0

    +sm()
      margin 5rem -15px

    .background-main-line
      font-size 1.5rem
      font-weight 700
      color #fffe90
      text-shadow: 0.18rem 0.18rem 0 #000;
      +large()
        font-size 2rem

    .background-sub-line
      font-size 1.3rem
      font-style italic
      text-shadow: 0.15rem 0.15rem 0 #000;
      +large()
        font-size 1.5rem

    .background-main-line,
    .background-sub-line
      &::first-letter
        text-transform uppercase

  .background-details
    background-color #fff
    color #000
    padding 1rem 2rem 2rem 2rem
