.background-generator
  background-image url(../img/background-background.jpg)
  background-color black
  background-repeat no-repeat
  background-position 50% top
  background-size 200%
  color #fff
  padding-top 1rem
  +md()
    background-size 100%
    padding-top 15%
  +lg()
    background-size 1400px
    padding-top 275px

  h1
    font-size 1.3rem
    text-shadow 0 0 0.7rem black, 0 0 1.5rem black, 0 0 1.5rem black
    margin-top 0
    +sm()
      font-size 2rem

  h2
    font-family 'Alegreya SC', serif
    font-size 3rem
    line-height 3rem
    margin 0
    text-shadow 0 0 1.5rem black, 0 0 2rem black, 0 0 2rem black
    +sm()
      font-size 5rem
      line-height 5rem

  .refresh-button
    background $bg-gen-btn-color
    border 1px solid $bg-gen-border-color
    box-shadow 0 0 40px 10px black
    padding .5rem 1rem
    margin 0 0 2rem 0
    font-size 1.5rem
    color #fff
    border-radius .5rem
    cursor pointer

    &:hover
      background-color lighten($bg-gen-btn-color, 5%)

    &:focus
      background-color lighten($bg-gen-btn-color, 10%)
      border 1px solid lighten($bg-gen-border-color, 60%)
      outline 0

      &:active
        background-color darken($bg-gen-btn-color, 5%)

  .background-summary
    background-color rgba(0, 0, 0, 0.7)
    padding 2rem
    margin 1rem 0

    +sm()
      margin 2rem -15px

    .background-main-line
      font-size 1.5rem
      line-height 1.5rem
      font-weight 700
      color #fffe90
      text-shadow: 0.18rem 0.18rem 0 black;
      margin-bottom .5rem
      +large()
        font-size 2rem

    .background-sub-line
      font-size 1.3rem
      font-style italic
      text-shadow: 0.15rem 0.15rem 0 black;
      +large()
        font-size 1.5rem

    .background-main-line,
    .background-sub-line
      &::first-letter
        text-transform uppercase

  .background-details
    background-color white
    color black
    padding 1rem 2rem 2rem 2rem
