#currency-container
  margin: 4rem 0
  text-align: center

.currency

  .currency-column
    display inline-block
    width 'calc(20% - 6px)' % ($currency-column-margin * 2)
    margin 0 $currency-column-margin
    text-align center

    &:first-child, &:last-child
      width 'calc(20% - %s)' % $currency-column-margin

    &:first-child
      margin-left 0

    &:last-child
      margin-right 0

  .currency-label
    display none
    +large()
      display block

  .currency-input
    border 2px solid #ccc
    border-radius 5px
    font-size 1.5rem
    font-weight 700
    width 100%
    padding .5rem
    text-align center

  for $key, $code in $currency-colors
    .currency-column--{$key} .currency-input
      border-color $code

      &:focus
        outline none
        box-shadow 0 0 0 3px lighten($code, 50%)

  .currency-key
    font-size 1.5rem
    line-height 1.5rem
    font-weight 700

.currency-results
  text-align center
  font-size 2rem
  line-height 3rem

.currency-output-dropdown
  border 1px solid #ccc
  margin 2rem 0
  width 100%
  font-size 1rem
  +large()
    width auto
