*
  box-sizing border-box
  font-family 'Alegreya', serif;

html
  font-size 16px
  background #fff

body
  margin 0
  padding 0

h1
  line-height 1em

.container

  &.half
    max-width 400px

.text-center
  text-align center
