$currency-colors = {
  cp: #d08e76
  sp: #cacaca
  ep: #c3d8d4
  gp: #ffd864
  pp: #b2beea
}

$currency-column-margin = 3px

// --- Background generator ----------------------------------------------------

$bg-gen-btn-color = #d01e1e
$bg-gen-border-color = #ff4040
