extends layout

block content
  .container.text-center
    .row
      .col-xs-12
        :markdown
          # D&D 5e Currency Converter
          Too many coins in your bags? Convert them to save
          space, or see what they're all worth in gold.
  .container
    .row
      .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        #currency-container
      
  script(src=contents.scripts['currency.coffee'].url)
