extends layout

block content
  h3 D&D 5e
  ul
    li
      a(href=contents['currency.json'].url) currency converter
    li
      a(href=contents['background.json'].url) sarcastic background generator
